@media screen and (max-width:768px)
{
    /*header*/
    .border-top:hover{
        border-top: 0px solid #0065FC;
    }

    .border-bottom:hover{
        border-bottom: 3px solid #0065FC;
    }

    .container{
        flex-direction: column;
        align-items: flex-start;            
        border: 1px solid blue;
        padding:0px 10px;}

    .box-logo{
        height: 0px;}

    .main-nav{
        border: hotpink solid 1px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-around;
        
    }
    
    .main-nav-list{
        display: flex;
        border: 1px solid green;        
        margin: 0px;
        padding: 20px 0px;
        width: 100%;                       
    }

    .border:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC
    }

    /*search + filter*/
    .search-area-filter{        
        width: 100%;
        padding: 0px 15px;
        background-color: aquamarine;
    }

    /*filter*/

    /*box global filters*/
    .four-filters{
    align-items: flex-start;
    flex-flow: column wrap;       
    }

    /*text-filters*/
    .filter{
    margin-bottom: 10px;
    }

    .box-filter{
        margin-bottom: 15px};

    /*box popular*/
    .popular{
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0em;
        padding-bottom: 30px;
        
    }
    
    /* box text + icon*/
    .text-icon-popular{
        display: flex;
        align-items: center;               
            
    }

    /*box popular*/
    .popular{
        background-color: #f2f2f2;
        width: 100%;  
    }


    /*popular size box*/
    .box-popular{           
        width: 90%;       
   }

    .photo-popular{
        width: 35%;        
    }

    /*housing*/
    /*box housing*/
    .housing{
        width: 100%;
        background-color: white;   
    }

    /*box housing x6*/
    .six-box-housing{
        flex-direction: column;
        align-items: center;
    }

    /*housing size box*/
    .box-housing{    
        width: 90%;
    }

    /*activities*/

    /*box section activities*/
    .section-activities{
        margin: 0px 0px 30px 0px;
    }

    /*box activities*/
    .box-activities{
        
        flex-direction: column;
        align-items: center;    
    }

    /*box vieux-port*/
    .vieux-port{
        width: 90%;
        height: 11.8em;
        border-radius: 15px;      
    }

    /*picture vieux-port*/
    .picture-vieux-port{
        height: 8.4em;    
    }

    /*box Fort de Pomegues + Iles du Frioul*/
    .box-fort-frioul{
        width: 100%;
        align-items: center;    
    }

    /*box Fort de Pomegues*/
    .fort{
        width: 90%;
        height: 11.8em;    
    }

    /*picture Fort de Pomegues*/
    .picture-fort{
        height: 8.4em;    
    }

    /*box Iles du Frioul*/
    .frioul{
        width: 90%;
        height: 11.8em;    
    }

    /*picture Iles du Frioul*/
    .picture-frioul{
        height: 8.4em;    
    }

    /*box Calanques*/
    .calanques{
        width: 90%;
        height: 11.8em;
    }

    /*pictures Calanques*/
    .picture-calanques{
        height: 8.4em;
    }

    /*box Notre Dame de la Garde + Parc Longchamp*/
    .box-notre-dame-longchammp{
        width: 100%;
        align-items: center;
        
    }

    /*box Notre Dame de la Garde*/
    .notre-dame{
        width: 90%;
        height: 11.8em;    
    }

    /*picture Notre Dame de la Garde*/
    .picture-notre-dame{
        height: 8.4em;    
    }

    /*box Parc Longchamp*/
    .longchamp{
        width: 90%;
        height: 100%;
    }

    /*picture Parc Longchamp*/
    .picture-longchamp{
        height: 8.4em;
    }

    .text-activity-Marseille{
        padding-left: 1.1em;
    }

    /*footer*/

    /*box footer*/
    .footer{
        display: flex;    
        background-color: #f2f2f2;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1.5em;       
    }

    .bloc-footer{
        margin-right: 0px;
    }



 



}




