/*police du site*/

@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*header*/

.container{
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border: 1px solid blue;
    padding:0px 10px;}

.box-logo{
    margin: 0px;
    border: 1px solid green;
}

/*logo reservia*/
.logo-reservia{
    max-width: 100%;
    height: auto;
    border: solid 1px red;
}
/*menu nav*/
.main-nav{
    border: hotpink solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}

/*nav housing + activities*/
.main-nav-list{
    display: flex;
    border: 1px solid green;
    list-style: none;
    height: 100%;
    margin: 0px;
    padding: 15px;
    width: 63%;
    justify-content: space-around;
}

/*nav register*/
.nav-register{
    list-style: none;
}

/*text register*/
.text-register{    
    color: #0065FC;
    font-weight: bolder;
    text-decoration: none;    
}

/*text-activity*/
.text-activity{    
    color: #0065FC;
    text-decoration: none;   
}

/*text-housing*/
.text-housing{
    color: #0065FC;
    text-decoration: none;        
}

/*border for housing and activities*/
.border:hover{
    border-top: 3px solid #0065FC
}

/*search + filter*/
.search-area-filter{
    padding: 0px;
}

/*search*/

/*box search-bar*/
.search-bar{
    border: 2px solid #f2f2f2;
    display: inline-flex;
    max-width: 100%;   
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10px;        
}

/*localization*/
.icon-search{    
    background-color: #f2f2f2;
    padding: 1rem; 
}
    
/*city, country*/
.city{
    width: 180px;
    padding-left: 10px;
    border: none;
}

/*button search*/
.search{
    background-color: #0065FC;
    width: 130px;       
    border: none;
    color: white;
    font-weight: bolder;
}



/*filter*/

/*box global filters*/
.four-filters{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    font-weight: bold;    
}

/*text-filters*/
.text-filter{
    margin-right: 2rem;
}


/*box for one filter*/
.box-filter{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;    
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.box-filter:hover{
    background-color:#deebff;
}

/*box icon filter*/
.icon-filter {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;   
}

/*box text filter*/
.text-filter{
    margin: 0px 15px;
}

/*info*/

/*box global info*/
.info{
    display: flex;
    align-items: center;  
    align-items: center;
    margin-bottom: 10px;
}

/*box icon info*/
.icon-info{
    display: flex;
    border: 2px solid #f2f2f2;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #0065FC;
}

/*box text info*/
.text-info{
    margin: 0px 20px;
}

/*housing + popular*/

/*box housing + popular*/
.housing-must-popular{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    flex-wrap: wrap-reverse;           
}

/*housing*/
/*box housing*/
.housing{
    background-color: #f2f2f2;
    width: 55em;
    height: auto;
    border-radius:1.25em;  
}

/*box housing x6*/
.six-box-housing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*housing size box*/
.box-housing{
    background-color: white;
    width: 15.3em;
    height: 12.5em;
    margin-bottom: 0.6em;
    border-radius: 0.625em;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;

}

/*image housing*/
.photo-housing{
    height: 7.2em;
    max-height: 100%;
    max-width: 100%;
    width: 100%;    
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/* text box housing*/
.title-box-housing, .text-box-housing, .star-housing{
    margin: 7px 10px;     
}

/*title Hebergements à Marseille*/
.housing-marseille{
    margin-left: 25px;
}

/*text Afficher plus*/
.more-information{
    margin-left: 25px;
}

/*box popular*/
.popular{
    background-color: #f2f2f2;
    width: 26.25em;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px  
}

/* box text + icon*/
.text-icon-popular{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*box popular x3*/
.three-box-popular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*popular size box*/
.box-popular{
    display: flex;    
    width: 21.5em;
    max-width: 100%;
    height: 9em;
    max-height: 100%;
    border-radius: 15px;    
    background-color: white;
    margin-bottom: 0.6em;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.photo-popular{
    width: 9em;
    max-width: 100%;
    height: 100%;    
    max-height: 100%;
    object-fit: cover;    
    border-radius: 10px 0px 0px 10px;
}

.title-box-popular{
    margin: 10px 10px 5px 20px;
}

.text-box-popular{
    margin: 10px 10px 5px 20px;
}

.star-popular{
    margin: 40px 10px 0px 20px;
}

/*full-star*/
.fas.fa-star{
    color: #0065FC;
}

/*empty-star*/
.color .fas.fa-star {
    color: #d9d9d9
}

/*activities*/

/*box section activities*/
.section-activities{
    margin: 0px 10px;
}

/*box activities*/
.box-activities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*box vieux-port*/
.vieux-port{
    width: 18.8em;
    height: 27.8em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;   
}

/*picture vieux-port*/
.picture-vieux-port{
    height: 24.4em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*box Fort de Pomegues + Iles du Frioul*/
.box-fort-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*box Fort de Pomegues*/
.fort{
    width: 18.8em;
    height: 15em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;
}

/*picture Fort de Pomegues*/
.picture-fort{
    height: 11.3em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*box Iles du Frioul*/
.frioul{
    width: 18.8em;
    height: 10.5em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;
}

/*picture Iles du Frioul*/
.picture-frioul{
    height: 6.9em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*box Calanques*/
.calanques{
    width: 18.8em;
    height: 27.8em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;
}

/*pictures Calanques*/
.picture-calanques{
    height: 24.4em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*box Notre Dame de la Garde + Parc Longchamp*/
.box-notre-dame-longchammp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/*box Notre Dame de la Garde*/
.notre-dame{
    width: 18.8em;
    height: 12.2em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;
}

/*picture Notre Dame de la Garde*/
.picture-notre-dame{
    height: 8.6em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*box Parc Longchamp*/
.longchamp{
    width: 18.8em;
    height: 13em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0px;
}

/*picture Parc Longchamp*/
.picture-longchamp{
    height: 9.4em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

/*text section activities*/
.text-activities{
    padding-left: 10px;
}


/*footer*/

/*box footer*/
.footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    
}

.bloc-footer{
    padding-right: 200px
}

footer a{
    text-decoration: none;
    color: black;
}












