/*police du site*/

@font-face
{font-family:'Raleway';
src: url()}

body{
    display: flex;
    flex-direction: column;
}

/*header*/

/*box header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    flex-wrap: wrap;  
}

/*box nav*/
.nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;      
}

.housing-Activity{    
    display: flex;        
}

.text-register{
    margin-left: 100px;
    color: #0065FC;
    font-weight: bolder;
}

.text-nav{
    margin-left: 100px;
}

.border-top:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}


/*search + filter*/
.search-area-filter{
    padding: 0px 50px;
}


/*search*/

/*box search-bar*/
.search-bar{
    border: 2px solid #f2f2f2;
    display: inline-flex;
    max-width: 100%;   
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10px;          
}

/*localization*/
.icon-search{    
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem 1.25rem;
}
    
/*city, country*/
.city{
    width: 180px;
    padding-left: 10px;
    border: none;
}

/*button search*/
.search{
    background-color: #0065FC;
    width: 130px;
    text-align:center;
    padding: 1rem 1.25rem;    
    border: none;
    color: white;
    font-weight: bolder;
}

/*filter*/

/*box global filters*/
.four-filters{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 55%;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    font-weight: bold;

}

/*box for one filter*/
.box-filter{
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;    
    height: 50px;
    border-radius: 25px;
}
.box-filter:hover{
    background-color:#deebff;
}

/*box icon filter*/
.icon-filter {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #deebff;
    height: 100%;
    width: 25px;
    padding: 0px 10px;
    border-radius: 100%;
    color: #0065FC;   
}

/*box text filter*/
.text-filter{
    margin: 0px 15px;
}

/*info*/

/*box global info*/
.info{
    display: flex;
    align-items: center;  
    align-items: center;
    margin-bottom: 10px;
}

/*box icon info*/
.icon-info{
    display: flex;
    border: 2px solid #f2f2f2;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #0065FC;
}

/*box text info*/
.text-info{
    margin: 0px 20px;
}

/*housing + popular*/

/*box housing + popular*/
.housing-must-popular{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0px 50px;            
}

/*housing*/
/*box housing*/
.housing{
    background-color: #f2f2f2;
    width: 880px;
    height: auto;
    border-radius: 20px;  
}

/*box housing x6*/
.six-box-housing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*housing size box*/
.box-housing{
    background-color: white;
    width: 250px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;

}

/*image housing*/
.photo-housing{
    height: 115px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;    
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/* text box housing*/
.title-box-housing, .text-box-housing, .star-housing{
    margin: 7px 10px;     
}

/*title Hebergements à Marseille*/
.housing-marseille{
    margin-left: 25px;
}

/*text Afficher plus*/
.more-information{
    margin-left: 25px;
}

/*box popular*/
.popular{
    background-color: #f2f2f2;
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px  
}

/* box text + icon*/
.text-icon-popular{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*box popular x3*/
.three-box-popular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*popular size box*/
.box-popular{
    display: flex;    
    width: 345px;
    max-width: 100%;
    height: 145px;
    max-height: 100%;
    border-radius: 15px;    
    background-color: white;
    margin: 12px 0px;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.photo-popular{
    width: 125px;
    max-width: 100%;
    height: 100%;    
    max-height: 100%;
    object-fit: cover;    
    border-radius: 10px 0px 0px 10px;
}

.title-box-popular{
    margin: 10px 10px 5px 20px;
}

.text-box-popular{
    margin: 10px 10px 5px 20px;
}

.star-popular{
    margin: 40px 10px 0px 20px;
}







/*full-star*/
.fas.fa-star{
    color: #0065FC;
}

/*empty-star*/
.color .fas.fa-star {
    color: #d9d9d9
}

/*activities*/

.section-activities{
    margin: 50px 50px
}


.box-activities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vieux-port{
    width: 300px;
    height: 445px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    
}

.picture-vieux-port{
    height: 390px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.box-fort-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fort{
    width: 300px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.picture-fort{
    height: 180px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.frioul{
    width: 300px;
    height: 160px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.picture-frioul{
    height: 110px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.calanques{
    width: 300px;
    height: 445px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.picture-calanques{
    height: 390px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.box-notre-dame-longchammp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notre-dame{
    width: 300px;
    height: 195px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.picture-notre-dame{
    height: 140px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.longchamp{
    width: 300px;
    height: 210px;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
}

.picture-longchamp{
    height: 150px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.text-activities{
    padding-left: 10px;
}


/*footer*/

/*box footer*/
.footer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    padding: 0px 50px;
}

.bloc-footer{
    margin-right: 300px;
}

footer a{
    text-decoration: none;
    color: black;
}












