@media screen and (min-width:992px) and (max-width:1199px)
{

/*-----header-----*/
/*box header*/
.container{
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;}

/*box logo*/
.box-logo{
    margin: 0;
}

/*logo reservia*/
.logo-reservia{
    max-width: 100%;
    height: auto;
}

/*menu nav*/
.main-nav{
    display: flex;
    align-items: center;    
    width: auto;    
    justify-content: flex-end;
}

/*nav housing + activities*/
.main-nav-list{
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 15px 0;
    width: auto;   
}

/*nav register*/
.nav-register{
    list-style: none;
}

/*text register*/
.text-register{    
    color: #0065FC;
    font-weight: bolder;
    text-decoration: none;
}

/*text-activity*/
.text-activity{    
    color: #0065FC;
    text-decoration: none;
    margin: 0 30px;
    padding-top: 15px;  
}

/*text-housing*/
.text-housing{
    color: #0065FC;
    text-decoration: none;
    margin: 0 30px;
    padding-top: 15px;        
}

/*border for housing and activities*/
.border:hover{
    border-top: 3px solid #0065FC;
}

/*-----search + filter-----*/
.search-area-filter{
    padding: 0;
    margin-bottom: 20px;
}

/*search*/
/*box search-bar*/
.search-bar{    
    display: inline-flex;
    max-width: 100%;   
    overflow: auto;    
    margin-bottom: 10px;        
}

/*localization*/
.icon-search{    
    background-color: #f2f2f2;
    padding: 1rem;
    border-bottom: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
    border-left:2px solid #d9d9d9;
    border-radius: 10px 0 0 10px; 
}
    
/*city, country*/
.city{
    width: 180px;
    padding-left: 10px;
    font-weight: bolder;
    border-bottom: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
    border-left: none;
    border-right: none; 
}

/*button search*/
.search{
    background-color: #0065FC;
    width: 130px;
    color: white;
    font-weight: bolder;
    border-radius: 0 10px 10px 0; 
    border: none;   
}

/*filter*/
/*box global filters*/
.four-filters{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    font-weight: bold;    
}

/*text-filters*/
.text-filter{
    margin-right: 2rem;
}

/*box for one filter*/
.box-filter{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;    
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.box-filter:hover{
    background-color:#deebff;
}

/*box icon filter*/
.icon-filter{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;   
}
.fas.fa-search{
    display: none;
}

/*box text filter*/
.text-filter{
    margin: 0 15px;
}

/*info*/
/*box global info*/
.info{
    display: flex;
    align-items: center;  
    align-items: center;
    margin-bottom: 10px;
}

/*box icon info*/
.icon-info{
    display: flex;
    border: 2px solid #f2f2f2;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #0065FC;
}

/*box text info*/
.text-info{
    margin: 0 20px;
}

/*-----housing + popular-----*/
/*box housing + popular*/
.housing-must-popular{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap-reverse;           
}

/*housing*/
/*box housing*/
.housing{
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    border-radius:1.25em;
    margin-bottom: 20px;
}

/*box housing x6*/
.six-box-housing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*housing size box*/
.box-housing{
    background-color: white;
    width: 30%;
    height: 35%;
    margin-bottom: 1em;
    border-radius: 0.625em;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;    
}

/*image housing*/
.photo-housing{
    height: 7.2em;
    max-height: 100%;
    max-width: 100%;
    width: 100%;    
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* text box housing*/
.title-box-housing, .text-box-housing, .star-housing{
    margin: 7px 10px;
}

.box-housing a{    
    text-decoration: none;
    color: black;  
}

/*title Hebergements à Marseille*/
.housing-marseille{
    margin-left: 25px;
}

/*text Afficher plus*/
.more-information{
    margin-left: 25px;
}

/*box popular*/
.popular{
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 30px;   
}

/* box text + icon*/
.text-icon-popular{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*box popular x3*/
.three-box-popular{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/*popular size box*/
.box-popular{
    display: flex;    
    width: 95%;
    max-width: 100%;
    height: 9em;
    max-height: 100%;
    border-radius: 15px;    
    background-color: white;
    margin-bottom: 1em;
    padding: 4px;
    box-shadow: 3px 3px 1px #d6d6d6;
}


/*box picture popular*/
.photo-popular{
    width: 45%;
    max-width: 100%;
    height: 100%;    
    max-height: 100%;
    object-fit: cover;    
    border-radius: 10px 0 0 10px;
}

/*title picture popular*/
.title-box-popular{
    margin: 10px 10px 5px 50px;
}

/*text picture popular*/
.text-box-popular{
    margin: 10px 10px 5px 50px;
}
/*star picture popular*/
.star-popular{
    margin: 40px 10px 0 50px;
}

/*full-star*/
.fas.fa-star{
    color: #0065FC;
}

/*empty-star*/
.color .fas.fa-star {
    color: #d9d9d9
}

/*-----activities-----*/
/*box section activities*/
.section-activities{
    margin: 0 10px;
    padding-bottom: 20px;
}

/*box activities*/
.box-activities{
    display: flex;
    justify-content: space-around;
}

.box:hover{
    box-shadow:3px 3px grey;
}

/*box vieux-port*/
.vieux-port{
    width: 23.5%;
    height: 27.8em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;  
}

/*picture vieux-port*/
.picture-vieux-port{
    height: 24.4em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/*box Fort de Pomegues + Iles du Frioul*/
.box-fort-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23.5%;
}

/*box Fort de Pomegues*/
.fort{
    width: 100%;
    height: 15.2em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;
}

/*picture Fort de Pomegues*/
.picture-fort{
    height: 11.5em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/*box Iles du Frioul*/
.frioul{
    width: 100%;
    height: 10.7em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;
}

/*picture Iles du Frioul*/
.picture-frioul{
    height: 7.1em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/*box Calanques*/
.calanques{
    width: 23.5%;
    height: 27.8em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;
}

/*pictures Calanques*/
.picture-calanques{
    height: 24.4em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/*box Notre Dame de la Garde + Parc Longchamp*/
.box-notre-dame-longchammp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23.5%;    
}

/*box Notre Dame de la Garde*/
.notre-dame{
    width: 100%;
    height: 12.4em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;
}

/*picture Notre Dame de la Garde*/
.picture-notre-dame{
    height: 8.8em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/*box Parc Longchamp*/
.longchamp{
    width: 100%;
    height: 13.2em;
    border-radius: 15px;
    box-shadow: 3px 3px 1px #d6d6d6;
    margin: 10px 0;
}

/*picture Parc Longchamp*/
.picture-longchamp{
    height: 9.6em;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

.box-activities a{
    text-decoration: none;
    color: black;
    }

/*text section activities*/
.text-activities{
    margin: 0;
}

/*-----footer-----*/
/*box footer*/
.footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;    
}

/*bloc footer*/
.bloc-footer{
    padding-right: 180px;
    padding-left: 5px;
}

footer a{
    text-decoration: none;
    color: black;
}
}